
<nav class="navbar navbar-expand-md navbar-light bg-body-tertiary">
	<div class="container-fluid">

		<a class="navbar-brand" routerLink="/">
      <img style="max-width:80px;" src="/assets/img/certidevs.svg" alt="logo">
    </a>

		<button
			class="navbar-toggler"
			type="button"
			aria-controls="navbarContent"
			[attr.aria-expanded]="!collapsed"
			aria-label="Toggle navigation"
			(click)="collapsed = !collapsed"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
			<ul class="navbar-nav ms-auto">

				<li class="nav-item" ngbDropdown>
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Libros </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
						<a ngbDropdownItem routerLink="/books" (click)="$event.preventDefault()">Listado libros</a>
            @if (isAdmin) {
              <a ngbDropdownItem routerLink="/books/create" (click)="$event.preventDefault()">Crear libro</a>
            }
					</div>
				</li>

				<li class="nav-item" ngbDropdown>
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button"> Autores </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-end">
						<a ngbDropdownItem routerLink="/authors" (click)="$event.preventDefault()">Listado autores</a>
            @if (isAdmin) {
              <a ngbDropdownItem routerLink="/authors/create" (click)="$event.preventDefault()">Crear autor</a>
            }
					</div>
				</li>

				<li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button"> Categorías </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
						<a ngbDropdownItem routerLink="/categories" (click)="$event.preventDefault()">Listado categorías</a>
            @if (isAdmin) {
						<a ngbDropdownItem routerLink="/categories/create" (click)="$event.preventDefault()">Crear categoría</a>
            }
					</div>
				</li>

        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button"> Editoriales </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
						<a ngbDropdownItem routerLink="/editorials" (click)="$event.preventDefault()">Listado editoriales</a>
            @if (isAdmin) {
						<a ngbDropdownItem routerLink="/editorials/create" (click)="$event.preventDefault()">Crear editorial</a>
            }
					</div>
				</li>

        @if (isLoggedIn) {
        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button"> Reservas </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
						<a ngbDropdownItem routerLink="/reservations" (click)="$event.preventDefault()">Listado reservas</a>
            @if (isAdmin) {
						<a ngbDropdownItem routerLink="/reservations/create" (click)="$event.preventDefault()">Crear reserva</a>
            }
					</div>
				</li>
        }

        @if (userEmail) {

           <!-- <button class="btn btn-outline-success btn-sm mx-3">Cuenta {{userEmail.split('@')[0]}}</button> -->
           <button routerLink="/account" class="btn btn-outline-success btn-sm mx-3">{{userEmail}}</button>

        }


        @if(isLoggedIn) {
          <button type="button" class="btn btn-warning ms-2" (click)="logout()">
            Logout
            <i class="bi bi-box-arrow-right ms-2"></i>
          </button>
        } @else {
          <button type="button" class="btn btn-success ms-2" routerLink="/login">
            Login
            <i class="bi bi-box-arrow-in-right ms-2"></i>
          </button>
          <button type="button" class="btn btn-secondary ms-2" routerLink="/register">
            Registro
            <i class="bi bi-person-plus ms-2"></i>
          </button>
        }

			</ul>
		</div>
	</div>
</nav>
