
<div class="container">
  <div class="row">
    <div class="col-3">
      <h3 style="margin-top:200px;">
        Filtros
        <i class="bi bi-question-circle ml-2 fs-3"
        placement="top"
        ngbTooltip="Filtrar libros por género literario o autor"></i>
      </h3>

      <h4>Categorías</h4>

      @for (category of categories; track category.id) {
        <a class="badge text-bg-success me-2 text-decoration-none"
        [routerLink]="['/categories', category.id, 'detail']">
          {{category.title}}
        </a>
      }

      <h4 class="mt-4">Autores</h4>

      @for (author of authors; track author.id) {
        <div class="mb-1">
            <a class="d-flex align-items-center badge text-bg-success me-2 text-decoration-none"
            [routerLink]="['/authors', author.id, 'detail']">
              @if (author.photoUrl) {
                <img class="rounded-circle me-3" style="max-width:20px;"
                [src]="'http://localhost:3000/uploads/' + author?.photoUrl">
              }
              {{author.firstName}}
            </a>
        </div>
      }


    </div>
    <div class="col-9">

      <h1 class="mt-5">Listado de libros</h1>

      @if(isAdmin){
        <button class="btn btn-primary"
        routerLink="/books/create">Crear libro</button>
      }


      @if (showDeletedMessage) {
        <ngb-alert type="success" (closed)="closeMessage()">Libro despublicado correctamente.</ngb-alert>
      }

      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Título</th>
            <th scope="col">Isbn</th>
            <th scope="col">Número páginas</th>
            <th scope="col">Publicado</th>
            <th scope="col">Precio</th>
            <th scope="col">Autor</th>
            <th scope="col">Editorial</th>
            <th scope="col">Categorías</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for(book of books; track book.id) {
          <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.isbn}}</td>
            <td>{{book.numPages}}</td>
            <td>
              @if (book.published) {
                <span class="badge text-bg-success">Sí</span>
              } @else {
                <span class="badge text-bg-danger">No</span>
              }
            </td>
            <td>{{book.price}}</td>

            <td>
              <a [routerLink]="['/authors', book.author.id, 'detail']">
                {{book.author.firstName}}
              </a>
            </td>

            <td>
              <a [routerLink]="['/editorials', book.editorial.id, 'detail']">
                {{book.editorial.name}}
              </a>
            </td>

            <td>
              @for (category of book.categories; track category.id) {
                <a class="badge text-bg-secondary me-2 text-decoration-none"
                [routerLink]="['/categories', category.id, 'detail']">
                  {{category.title}}
                </a>
              }
            </td>

            <td>
              @if (isAdmin) {
                <button class="btn btn-success me-2 btn-sm" [routerLink]="['/books', book.id, 'update']">
                  Editar
                </button>
                <button class="btn btn-danger me-2 btn-sm"
                (click)="openModal(content, book)">
                  Despublicar
                </button>
              }
              <button class="btn btn-info me-2 btn-sm" [routerLink]="['/books', book.id, 'detail']">
                Ver
              </button>
              <button class="btn btn-warning me-2 btn-sm" [routerLink]="['/books', book.id, 'reserve']">
                Reservar
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Despublicar libro</h4>
		<button type="button" class="btn-close" aria-label="Cancelar" (click)="modal.dismiss('Cancelar')"></button>
	</div>
	<div class="modal-body">
		<p>El libro seleccionado va a ser despublicado y no será visible en el listado.
      ¿Está de acuerdo?
    </p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-success" (click)="modal.close('Aceptar')">Aceptar</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Cancelar')">Cancelar</button>
	</div>
</ng-template>
